.home-container {
  background-color: rgb(23, 197, 204);
  height: 100vh;
}
.navigation-menu {
  display: flex;
  justify-content: flex-end;
}

main {
  display: flex;
}

.home__illustration-image-container {
  width: 50%;
}

.home__description-container {
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
}

.home__illustration-image {
  width: 80%;
}

.home__description-container p,
h1 {
  width: 50%;
  margin-bottom: 20px;
}
